#dashboard__menu{
    background-color: #FFF;
    height: 100vh;
}
.dashboard__menu--wrapper {
    padding: 60px;
}
.dashboard__logo{
    height: 40px;
}

.dashboard__menu--list {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}
.dashboard__menu--link:link,
.dashboard__menu--link:visited{
    font-size: 18px;
    color: #0E133A;
    font-weight: 500;
    margin-bottom: 20px;
}
.dashboard__menu--link.active{
    color: #0E133A;
    font-weight: 600;
}


/* ============== drop down =============== */
.accordian__btn button{
    padding: 0;
    border: none;
    font-size: 18px;
    color: #0E133A;
    font-weight: 500;
}
.dashboard__dropdown .accordion-item{
    border: none;
}
.dashboard__dropdown .accordion-button:focus {
    z-index: 3;
    border-color: transparent;
    box-shadow: 0 0 0 0;
}
.dashboard__dropdown .accordion-button:not(.collapsed) {
    color: #0E133A;
    background-color: #FFF;
    box-shadow: none;
}
.accordion-body .dashboard__menu--link{
    margin-top: 4px;
    margin-bottom: 20px;
    display: block;
}
.accordion-body .dashboard__menu--link:last-child{
    margin-bottom: 0;
    margin-top: 0;
}
.dashboard__dropdown .accordion-item{
    margin-bottom: 20px;
}

/* ============== media query ============ */
@media only screen and (max-width: 991px){
    #dashboard__menu {
        height: 100%;
    }
}