#hero__section{
    background-color: #F4F5FA;
    padding: 100px 0;

    position: relative;
}
.hero__place--img{
    position: absolute;
    right: 0;
    top: 35%;
    height: 348px;
}
#hero__section .row{
    align-items: center;
}
.hero__subtitle{
    font-weight: 600;
    font-size: 22px;
    line-height: 26px;
    color: #0E133A;
}
.hero__title{
    font-weight: 700;
    font-size: 72px;
    line-height: 100px;
    color: #0E133A;
    margin: 20px 0;
}
.hero__btn--wrapper{
    margin-top: 88px;
}
.hero__btn{
    font-weight: 600;
    font-size: 16px;
    line-height: 28px;
    padding: 16px 56px;
    border-radius: 89px;
}
.hero__full--btn:link,
.hero__full--btn:visited{
    background-color: #1F33D8;
    color: #FFF;
}
.hero__null--btn:link,
.hero__null--btn:visited{
    background-color: #FFF;
    color: #0E133A;
    margin-left: 24px;
}
.hero__null--btn svg {
    font-size: 20px;
    margin-right: 8px;
}



/* ================== media query =================== */
@media only screen and (max-width: 1199px){
    .hero__title {
        line-height: 80px;
        font-size: 55px;
    }
    .hero__thumbnail--wrapper{
        text-align: center;
    }
    .hero__thumbnail--wrapper img{
        width: 100%;
    }
}
@media only screen and (max-width: 991px){
    .hero__thumbnail--wrapper {
        margin-top: 60px;
    }
}
@media only screen and (max-width: 767px){
    .hero__title {
        line-height: 70px;
        font-size: 50px;
    }
}
@media only screen and (max-width: 500px){
    .hero__title {
        line-height: 70px;
        font-size: 45px;
    }
    .hero__place--img {
        display: none;
    }
    .hero__btn {
        padding: 16px 34px;
    }
    #hero__section {
        padding: 100px 0 0px 0;
    }
}
@media only screen and (max-width: 425px){
    .hero__title {
        line-height: 50px;
        font-size: 35px;
    }
}
@media only screen and (max-width: 325px){
    .hero__btn {
        padding: 14px 26px;
    }
    .hero__title {
        line-height: 50px;
        font-size: 30px;
    }
    .hero__null--btn {
        margin-left: 15px;
    }
}