/* ======================== Google Font ====================== */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700&display=swap');

/* ======================== Common style ====================== */
*,
*::before,
*::after{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Lato', sans-serif;
  background-color: #FEFEFF;
}
h1,h2,h3,h4,h5,h6,p{
  padding: 0;
  margin: 0;
}
a{
  text-decoration: none;
}
ul{
  list-style: none;
}

@media only screen and (min-width: 1400px){
  section .container,
  header .container,
  footer .container{
    width: 1200px;
  }
}
.fixed-top{
  background-color: #F4F5FA;
}
/* ======================== Reusable style ====================== */
.description{
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #5B5D6D;
}
.section__title{
  font-weight: 700;
  font-size: 48px;
  line-height: 58px;
  color: #0E133A;
  text-align: center;
  margin-bottom: 80px;
}
@media only screen and (max-width: 767px){
  .section__title {
    font-size: 40px;
  }
}
@media only screen and (max-width: 425px){
  .section__title {
    font-size: 35px;
    line-height: 45px;
  }
}
/* ======================== Radio style ====================== */
span.radio__style {
  border: 2px solid #1F33D8;
  display: inline-block;
  height: 18px;
  margin-right: 8px;
  position: relative;
  width: 18px;
}
span.radio__style:after {
  background-color: transparent;
  border-radius: 1px;
  content: " ";
  height: calc(100% - 5px);
  left: 50%;
  position: absolute;
  top: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  transition: all .15s cubic-bezier(.4,0,.2,1) 0ms;
  visibility: visible;
  width: calc(100% - 5px);
}

.radio__group input[type=radio]:checked+label>.radio__style:after {
  background-color: #1F33D8;
}
input#yellowColor,
input#blueColor {
  display: none;
}
span.form__text {
  font-size: 16px;
  margin-bottom: 10px;
  display: inline-block;
  font-weight: 500;
}

.input__group label {
  display: flex;
  align-items: center;
  margin-bottom: 6px;
}
/* ======================== Google Font ====================== */
/* ======================== Google Font ====================== */
